body {
    background-image: linear-gradient(180deg, #f2fcfe, #1c92d2);
    background-repeat: no-repeat;
  
  }
  
  .abc {
    margin-top: 5%;
    margin-left: 20%;
    align-items: center;
    /* margin: 100px; */
    justify-items: center;
    border: 1px solid white;
    background-color: rgba(255, 252, 252, 0.208);
    width: 50%;
    min-height: 15rem;
    display: flex;
    margin-bottom: 50px;
  
  }
  
  .rightdiv {
    width: 50%;
    left: 0;
    position: relative;
  }
  
  .leftdiv {
    width: 50%;
    left: 0;
    position: relative;
  }
  
  p {
    margin: 5px 0 5px 0;
  }
  
  .btn {
    width: 80%;
    height: 90%;
    margin: 5px 0 5px 0px;
    font-size: large;
  
    border: 2px solid #62CDFF;
    border-radius: 4px;
    padding: 5px 125spx;
  }
  
  .input {
    width: 80%;
    height: 90%;
    outline: none;
  
    border: 2px solid #62CDFF;
    border-radius: 4px;
    padding: 5px 15px;
  }
  
  a {
    text-decoration: none;
  }
  
  .align {
    margin-left: 10%;
    margin-right: 10%;
  }
  
  /* Navigation Bar */
  .topnav {
    overflow: hidden;
    background-color: #62CDFF;
    height: 60px;
  
  }
  
  .topnav a {
    float: right;
    color: black;
    text-align: center;
    padding: 12px 13px;
    text-decoration: none;
    font-size: medium;
  }
  
  .logoname {
    font-size: larger;
    text-align: center;
    margin: 10px 15px 15px 10px;
  }
  
  .topnav a:hover:not(.active) {
    background-color: aquamarine;
  }
  
  .navlist {
    background-color: #3FFF00;
  }
  
  
  .ads {
    margin-top: 15px;
  }
  
  .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  /* Cards Design*/
  article {
    --img-scale: 1.001;
    --title-color: black;
    --link-icon-translate: -20px;
    --link-icon-opacity: 0;
    position: relative;
    border-radius: 16px;
    box-shadow: none;
    background: #fff;
    transform-origin: center;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
  }
  
  article a::after {
    position: absolute;
    inset-block: 0;
    inset-inline: 0;
    cursor: pointer;
    content: "";
  }
  
  article h2 {
    margin: 0 0 18px 0;
    font-family: "Bebas Neue", cursive;
    font-size: 1.9rem;
    letter-spacing: 0.06em;
    color: var(--title-color);
    transition: color 0.3s ease-out;
  }
  
  figure {
    margin: 0;
    padding: 0;
    aspect-ratio: 16 / 9;
    overflow: hidden;
  }
  
  article img {
    max-width: 100%;
    transform-origin: center;
    transform: scale(var(--img-scale));
    transition: transform 0.4s ease-in-out;
  }
  
  .article-body {
    padding: 24px;
  }
  
  article a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #28666e;
  }
  
  article a:focus {
    outline: 1px dotted #28666e;
  }
  
  article a .icon {
    min-width: 24px;
    width: 24px;
    height: 24px;
    margin-left: 5px;
    transform: translateX(var(--link-icon-translate));
    opacity: var(--link-icon-opacity);
    transition: all 0.3s;
  }
  
  
  article:has(:hover, :focus) {
    --img-scale: 1.1;
    --title-color: #28666e;
    --link-icon-translate: 0;
    --link-icon-opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  
  
  .articles {
    display: grid;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 24px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 24px;
  }
  
  .articles1 {
    display: grid;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 24px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 24px;
    padding-bottom: 100px;
  }
  
  @media screen and (max-width: 960px) {
    article {
      container: card/inline-size;
    }
  
    .article-body p {
      display: none;
    }
  }
  
  @container card (min-width: 380px) {
    .article-wrapper {
      display: grid;
      grid-template-columns: 100px 1fr;
      gap: 16px;
    }
  
    .article-body {
      padding-left: 0;
    }
  
    figure {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
  
    figure img {
      height: 100%;
      aspect-ratio: 1;
      object-fit: cover;
    }
  }
  
  .sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  
  
  /* Footer CSS */
  
  body {
    margin: 0;
    overflow-x: hidden;
  }
  
  .footer {
    background: #000;
    padding: 30px 0px;
    font-family: 'Play', sans-serif;
    text-align: center;
  }
  
  .footer .row {
    width: 100%;
    margin: 1% 0%;
    padding: 0.6% 0%;
    color: gray;
    font-size: 0.8em;
  }
  
  .footer .row a {
    text-decoration: none;
    color: gray;
    transition: 0.5s;
  }
  
  .footer .row a:hover {
    color: #fff;
  }
  
  .footer .row ul {
    width: 100%;
  }
  
  .footer .row ul li {
    display: inline-block;
    margin: 0px 30px;
  }
  
  .footer .row a i {
    font-size: 2em;
    margin: 0% 1%;
  }
  
  @media (max-width:720px) {
    .footer {
      text-align: left;
      padding: 5%;
    }
  
    .footer .row ul li {
      display: block;
      margin: 10px 0px;
      text-align: left;
    }
  
    .footer .row a i {
      margin: 0% 3%;
    }
  }
  